body {
    background-color: #99CCCC;
    text-align: center;
    margin: 0px auto;
    width: 700px;
    height: 400px;
}
#header {
    font-size: 20px;
}
#return-box {
    width: 120px;
    height: 40px;
    font-weight: bold;
    margin-right: 30px;
    margin-top: 80px;
    border: solid 1px black;
    border-radius: 8px;
    background: linear-gradient(#EEEEEE, #AAAAAA);
}